body, html {
    height: 100%; 
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background: linear-gradient(red,yellow,orange);
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
  }
  
  .container {
    border: 5px solid transparent !important;
    text-align: center;
    border-radius: 10px;
    width: 600px;
    height:400px;
    background-color: rgb(0, 0, 0);

    padding:10px;
    margin: 10px 10px;
  }
  
  h1 {
    color: #fffb14;
  }
  #image{
    width: 100px;
    height: 100px;
  }
  #jokeDisplay {
    margin-top: 20px;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  #getJokeBtn{
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    color: white;
    border:3px solid rgb(255, 202, 55);
  }